
[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqldump]
default-character-set = utf8mb4

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
default-time-zone = '+9:00'

#datadir = /usr/local/var/mysql  # mac brew
datadir = /opt/homebrew/var/mysql  # mac brew

bind-address = 127.0.0.1
mysqlx-bind-address = 127.0.0.1
